<%= render 'form', cat: @cat%>

<!-- <form action="<%= cats_url %>" method="POST">
  <input type="text" name="cat[name]"/>

  <input type="radio" id="male" name="cat[sex]" value="M" />
  <label for="male">M</label>
  <input type="radio"id="female" name="cat[sex]" value="F" />
  <label for="female">F</label>

  <select name="cat[color]">
    <option value="" selected="true" disabled="disabled"> </option>
    <% Cat::COLORS.each do |color| %>
     <option value="<%=color%>"> <%=color%> </option>
    <% end %>
  </select>

  <input id="birthdate" type="date" name="cat[birth_date]">
  <textarea name="cat[description]" rows="10" cols="50"> Description </textarea>
  <input type="submit" value="Create Cat!" />

</form> -->
